.body1{
    background-image: url(https://i.ibb.co/7S8nknm/image.png);
    background-repeat: no-repeat;

}
.letra{
    font-family: 'Chivo Mono';font-size: 22px;
}
.letra1{border-radius: 10px;
    background-color: rgba(175, 155, 112, 0.473);
    font-family: 'Chivo Mono';font-size: 20px;
}
.img{
    
    margin-left: 20%;
}
.boton{
    background-color: rgba(194, 94, 0, 0.541);
    border-radius: 8px;
    font-family: 'Cutive Mono';font-size: 20px;
}
.boton:hover{
    background-color: rgba(255, 226, 61, 0.541);
    border-radius: 8px;
    font-family: 'Cutive Mono';font-size: 20px;  
}
.div1{
    background-color: rgba(207, 159, 136, 0.795);
    text-align: center center;
    margin-top: 2%;
    margin-left: 20%;
    border: solid black 2px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
}
.div2{ text-align: center center;
    margin-left: 20%;
 background-color: rgba(235, 207, 181, 0.733);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    border: solid black 2px;
}
.titulo{
  
    text-align: center;
    font-family: 'Cutive Mono';font-size: 50px;
}